* {
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  border: none;
}

button {
  background: rgb(219, 37, 18);
  padding: 12px 48px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: #fff;
}

.wrapper {
  max-width: 1680px;
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0 14px 0;
  position: absolute;
  top: 0;
  left: 18%;
}

.header__nav {
  display: flex;
}

.header__nav > li {
  margin-right: 35px;
  list-style: none;
}

.header__nav > li:last-child {
  margin-right: 0;
}

.header__nav_active {
  border-bottom: 2px solid #fff;
}

li > a {
  text-transform: uppercase;
}

.header__lang > span {
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.header__lang > span:first-child {
  color: rgb(183, 183, 183);
}

/* Intro */

.intro {
  padding: 225px 0 305px 0;
  background-image: url('./img/road-g9875459d1_1920\ 1.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro__wrapper {
  width: 791px;
  height: 125px;
}

.intro h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 53px;
}

.cards {
  display: flex;
  position: relative;
  bottom: 95px 
}

.cards__item {
  background: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
  width: 386px;
  height: 196px;
  margin-right: 21px;
}

.cards__item:last-child {
  margin-right: 0;
}

.cards__container {
  padding: 40px 48px 37px 40px;
}

.cards__container-title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0 15px 0;
}

.cards__container > div:last-child {
  color: rgb(183, 183, 183);
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 400;
}